body {
    padding: 20px;
    background-color: black;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#form-container {
    display: flex;
    margin-bottom: 10px;
}
.form-item {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
.form-item > label {
    margin: 4px 0;
}
#delete-button {
    margin-top: 10px;
}
#animal-list {
    /* display: flex; */
    list-style-type: none;
    padding-inline-start: 0;
}
#animal-list > li {
    background-color: darkslategray;
    border-style: solid;
    border-color: darkolivegreen;
    border-radius: 20px;
    border-width: 2px;
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
}

#habitat,#content{display:none;}
#habitat:checked~#content{display:block;}